<!DOCTYPE HTML>
<html lang="en">
  <head> 
    <meta charset="utf-8">

    <title>c19.io / {{ page.title }}</title>
    <meta name="description" content="A Github hosted weblog by Marvin Charles">
    <meta name="author" content="Marvin Charles">
    <meta name="viewport" content="width=device-width" />                          
	<link rel="stylesheet" href="/css/default.css"> 
	<link rel="stylesheet" href="/css/highlight.css">            
  </head>
  <body>
	<header>
	  <nav>
	    <ul>
		  <li><h1><a href="/">charlesmarvin<span class="no-accent">.github.io</span></a></h1></li>
		</ul>
	  </nav>
	</header>    
	{{ content }}
  </body>
</html>