<!DOCTYPE HTML>
<html lang="en">
  <head> 
    <meta charset="utf-8">

    <title>notes / {{ page.title }}</title>
    <meta name="description" content="A Github hosted weblog by Marvin Charles">
    <meta name="author" content="Marvin Charles">
    <meta name="viewport" content="width=device-width" />                          
	<link rel="stylesheet" href="/css/default.css"> 
	<link rel="stylesheet" href="/css/highlight.css">            
  </head>
  <body>
	<header>
	  <nav>
	    <ul>
		  <li><h1><a href="/notes">charlesmarvin.github.io/notes</a></h1></li>
		</ul>
	  </nav>
	</header>   
	<div class="page-content">
	{{ content }}
	</div> 
  </body>
</html>