<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}

    {% if page.theme == 'landing' %}
      <link rel="stylesheet" href="{{ '/assets/css/landing.css' | relative_url }}">
      <title>{{ site.title }}</title>
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    
    {% if page.include_highlights %}
      <link rel="stylesheet" href="{{ '/assets/css/highlights.css' | relative_url }}">
    {% endif %}
  </head>
  <body class="{{ page.theme | default: 'default' }}">
    {% include header.html  %}
    <main>
      {{ content}}
    </main>
  </body>
</html>

